<!DOCTYPE html>

<html>
   {%load static%}
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>MegaCart</title>
      <link href="{% static 'css/style2.css' %}" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
      <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
      <link rel="stylesheet" href="{% static 'css/flickity.css' %}" media="screen">
      <script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
   </head>
   
   <body>
      
      <div class="header">

         <div class="container">

            <div class="navbar">
              
             <div class="logo">
               <a href="homepage"><img src="{% static 'image/logo3.png' %}"></a>
             </div>
             <nav>
               <ul id="menuItems">
                  <li><a href="homepage">Home</a></li>
                  <li><a href="about_us">About</a></li>
                  <li><a href="orders">Orders</a></li>
                  <li><a href="account">Account</a></li>
               </ul>
            
            </nav>
            <a href="cart"><img src="{% static 'image/cartIcon.png' %}" width="30px"></a>
            {% if request.session.cart.keys|length %}
            <span class="badge">{{request.session.cart.keys|length}}</span>
            {% endif %}
             <img src="{% static 'image/menu.png' %}" class="menu-icon" width="26px" onclick="menuToggle()">
 
           </div>
          </div>
      </div>

      <!----------------LOGIN DETAILS----------->
      
      <div class="account-page">
          <div class="container">
              <div class="row">
                  <div class="col-1">
                     {% if not request.session.email %}
                      <div class="form-container">
                          <div class="form-btn">
                              <span onclick="login()">Login</span>
                              <span onclick="register()">Register</span>
                              <hr id="indicator">
                          </div>
                          <form id="loginForm" action="login" method="POST">
                              {{msg}}
                              {% csrf_token %}
                              <input required type="email" name="loginEmail" placeholder="Email">
                              <input required type="password" name="loginPassword" placeholder="Password">
                              <div class="btn">
                                 <button type="submit" class="btn3">Login</button>
                               </div>
                               <br>
                              <a href="">Forgot Password</a>
                          </form>
                          <form id="regForm" action="register" method="POST">
                            {{msg}} 
                            {% csrf_token %}                           
                            <input required type="text" name="firstName" placeholder="First Name">
                            <input required type="text" name="lastName" placeholder="Last Name">
                            <input required type="email" name="email" placeholder="Email">
                            <input required type="password" name="password" placeholder="Password">
                            <div class="btn">
                              <button type="submit" class="btn3">Register</button>
                            </div>
                        </form>
                        {%else%}

<!-----------------CUSTOMER DETAILS----------------->

                        <div class="account">
 
                            <h1>Customer Details</h1>
                            <h3>Name : {{request.session.name}}</h3>
                            <h3>Email : {{request.session.email}}</h3>

                            <form action="phone_save" method="POST">
                              {% csrf_token %}    
                              <h3 style="float: left;">Phone : </h3>
                              <input class="phone-number" value="{{request.session.phone}}" type="text" name="phone">
                              <button type="submit" class="phone-save-btn save-btn">SAVE</button>
                           </form>   

                           <br>

                           <form action="address_save" method="POST">
                             {% csrf_token %}    
                             <div class="address">
                              <h3>Address : </h3>
                              <textarea class="address-textarea" name="address" rows="4" cols="25">{{request.session.address}}
                              </textarea>
                              <button type="submit" class="save-btn">SAVE</button>
                             </div>
                          </form>   

                           <form action="logout" method="POST">
                              {% csrf_token %}  
                              <div class="btn account-btn">
                                 <button type="submit" class="btn3">Logout</button>
                               </div>
                           </form>                     
                        </div>
                      </div>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>



      <!---------------Footer----------------->
      <div class="footer">
         <div class="container">
            <div class="row">
               <div class="footer-col-1">
                  <h3>Download Our App</h3>
                  <p>Download App for Android and Ios</p>
                  <div class="app-logo">
                     <img src="{% static 'image/playstore.png' %}">
                     <img src="{% static 'image/appstore.png' %}">
                  </div>
               </div>
               <div class="footer-col-2">
                  <img src="{% static 'image/logo3.png' %}">
               </div>

               <div class="footer-col-3">
                  <h3>Policy</h3>
                  <ul>
                     <li>Return Policy</li>
                     <li>Terms of Use</li>
                     <li>Privacy</li>
                     <li>Security</li>
                  </ul>
               </div>

               <div class="footer-col-4">
                  <h3>Social</h3>
                  <ul>
                     <li>Facebook</li>
                     <li>Twitter</li>
                     <li>Instagram</li>
                     <li>Youtube</li>
                  </ul>
               </div>
             
            </div>
            <hr>
            <p class="copyright"><small>Copyright 2021 MegaCart - All rights reserverd</small> </p>
         </div>
      </div>

      <script>

         var menuItems=document.getElementById("menuItems");

         menuItems.style.maxHeight = "0px";

         function menuToggle(){

            if (menuItems.style.maxHeight=="0px"){
               menuItems.style.maxHeight="200px";
            }else{
               menuItems.style.maxHeight="0px";
            }

         }

      </script>

<!---------------------js for toggle form---------------->

   <script>

      var loginForm = document.getElementById("loginForm");
      var regForm = document.getElementById("regForm");
      var indicator = document.getElementById("indicator");

        function register(){
           regForm.style.transform = "translateX(0px)";
           loginForm.style.transform = "translateX(0px)";
           indicator.style.transform = "translateX(170px)";
        }

        function login(){
           regForm.style.transform = "translateX(300px)";
           loginForm.style.transform = "translateX(300px)";
           indicator.style.transform = "translateX(20px)";
        }

   </script>

       
   </body>

</html>