<!DOCTYPE html>

<html>
   {%load static %}
   {%load cart %}
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>MegaCart</title>
      <link href="{% static 'css/style2.css' %}" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
      <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
      <link rel="stylesheet" href="{% static 'css/flickity.css' %}" media="screen">
      <script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
   </head>
   
   <body>
      
      <div class="header">

         <div class="container">

            <div class="navbar">

              <img src="{% static 'image/menu.png' %}" class="menu-icon" onclick="menuToggle()">
 
             <div class="logo">
                <a href="homepage"><img src="{% static 'image/logo3.png' %}"></a>
             </div>

             <div class="search">
                <form action="search" method="post" class="search-form">
                  {% csrf_token %}
                   <input class="search-bar" type="text" name="searchProduct" placeholder="Search">
                   <button type="submit" class="search-btn">Search</button>
                </form>
                
             </div>
             <nav>
                <ul id="menuItems">
                   <li><a href="orders"><i class="fas fa-list mobile"></i> Orders</a></li>
                   <li><a href="account"><i class="fas fa-user mobile"></i> Account</a></li>
                   <li><a href="cart"><i class="fas fa-shopping-cart mobile"></i> Cart</a></li>
                   <li><a href="about_us"><i class="fas fa-building mobile"></i> About</a></li>
                </ul>
             
             </nav>
             <a href="cart"><img src="{% static 'image/cartIcon.png' %}" class="cart-icon-img"></a>
             {% if request.session.cart.keys|length %}
            <span class="badge">
               {{request.session.cart.keys|length}}
            </span>
            {% endif %}
             
           </div>
           <div class="search-mobile">
            <form action="search" method="post" class="search-form">
               {% csrf_token %}
               <input class="search-bar" type="text" name="searchProduct" placeholder="Search">
               <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
            </form>
            
           </div>
          </div>
      </div>


      <div class="banner">
         <div class="row">
            <div class="col-1">
             <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true }'>
                <div class="carousel-cell" >
                  <a href="all_products?category=1">
                     <img src="{%static 'image/banner3.jpg'%}" class="banner-desktop">
                     <img  src="{%static 'image/banner3mobile.jpg'%}" class="banner-mobile">
                  </a>
               </div>
                <div class="carousel-cell">
                   <a href="all_products?category=0">
                  <img  src="{%static 'image/banner2.jpg'%}" class="banner-desktop">
                  <img  src="{%static 'image/banner2mobile.jpg'%}" class="banner-mobile">
                  </a>
                  </div>
                <div class="carousel-cell">
                  <a href="product_details?productId=18">
                     <img src="{%static 'image/iphone13-banner2.jpg'%}" class="banner-desktop">
                     <img  src="{%static 'image/iphone13-banner-mobile.jpg'%}" class="banner-mobile">
                  </a>
                  </div>
              </div>
            </div>
         </div>
      </div>


      {#   Categories        #}

      <div class="categories all-categories">
         <div class="small-container all-categories-container">
            <div class="row">
               <div class="col-4">
                  <a href="all_products?category=1">
                  <img src="{%static 'image/mobile.png'%}">
                  <p class="categories-p">Mobiles</p>
                  </a>
               </div>
               <div class="col-4">
                  <a href="all_products?category=2">
                  <img src="{%static 'image/Home-Appliance.png'%}">
                  <p class="categories-p">Appliances</p>
                  </a>
               </div>
               <div class="col-4">
                  <a href="all_products?category=3">
                  <img src="{% static 'image/laptop.png' %}">
                  <p class="categories-p">Laptop</p>
                  </a>
               </div>
               <div class="col-4">
                  <a href="all_products?category=4">
                  <img src="{% static 'image/tv.png' %}">
                  <p class="categories-p">TV</p>
                  </a>
               </div>
            </div>
            
         </div>
      </div>

      
      <div class="categories">
         <div class="small-container">
            <h2 align="center">Deals of the Day</h2><br>
            <div class="row">

               {% for p in deals %}
               <div class="col-5">
                  <a href="product_details?productId={{p.product.id}}">
                  <img src="{{p.product.image1.url}}">
                  <h4>{{p.product.name}}</h4><p>Rs {{p.product.price}}</p>
               </a>
               </div>
               {% endfor %}
               
            </div>         
         </div>
      </div>

      {#   Deals on Smartphone        #}


      <div class="categories">
         <div class="small-container">
            <div class="carousel2-row">
               <h2 align="center">Deals on Smartphones</h2>
               <div class="row">
                  <div class="col-1">
                     <div class="carousel2" data-flickity='{"groupCells": true }'>

                        {% for product in products.phone %}
                        {% if 1 == product.category.id %}

                        <div class="carousel2-cell">
                           <a href="product_details?productId={{product.id}}">
                           <img src="{{product.image1.url}}">
                           <p style="color:black;font-weight: 600;">{{product.name}}</p><p style="color:green;">Rs {{product.price}}</p>
                        </a>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <a href="all_products?category=1" class="carousel2-cell"; style="background-color:blue;">
                           <h3>View More</h3>
                        </a>
                      </div>
                  </div>
               </div>
            </div>
         </div>
      
      </div>

      {# -----------  Deals on Laptop  -------------   #}

      <div class="categories">
         <div class="small-container">
            <div class="carousel2-row">
               <h2 align="center"; style="background-color:mediumvioletred;">Deals on Laptops</h2>
               <div class="row">
                  <div class="col-1">
                     <div class="carousel2" data-flickity='{"groupCells": true }'>

                        {% for product in products.laptop %}
                        {% if 3 == product.category.id %}
                        <div class="carousel2-cell">
                           <a href="product_details?productId={{product.id}}">
                           <img src="{{product.image1.url}}">
                           <p style="color:black;font-weight: 600;">{{product.name}}</p><p style="color:green;">Rs {{product.price}}</p>
                        </a>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <a href="all_products?category=3" class="carousel2-cell"; style="background-color:blue;">
                           <h3>View More</h3>
                        </a>
                      </div>
                  </div>
               </div>
            </div>
         </div>
      
      </div>

      {# -----------  Deals on TV  -------------   #}

      <div class="categories">
         <div class="small-container">
            <div class="carousel2-row">
               <h2 align="center"; style="background-color:gold;color: black;">Deals on TVs</h2>
               <div class="row">
                  <div class="col-1">
                     <div class="carousel2" data-flickity='{"groupCells": true }'>

                        {% for product in products.tv %}
                        {% if 4 == product.category.id %}
                        <div class="carousel2-cell">
                           <a href="product_details?productId={{product.id}}">
                           <img src="{{product.image1.url}}">
                           <p style="color:black;font-weight: 600;">{{product.name}}</p><p style="color:green;">Rs {{product.price}}</p>
                        </a>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <a class="carousel2-cell" href="all_products?category=4" style="background-color: blue;">
                           <h3>View More</h3>
                        </a>
                      </div>
                  </div>
               </div>
            </div>
         </div>
      
      </div>

      <div class="footer">
         <div class="container">
            <div class="row">
               <div class="footer-col-1">
                  <h3>Download Our App</h3>
                  <p>Download App for Android and Ios</p>
                  <div class="app-logo">
                     <img src="{% static 'image/playstore.png' %}">
                     <img src="{% static 'image/appstore.png' %}">
                  </div>
               </div>
               <div class="footer-col-2">
                  <img src="{% static 'image/logo3.png' %}">
               </div>

               <div class="footer-col-3">
                  <h3>Policy</h3>
                  <ul>
                     <li>Return Policy</li>
                     <li>Terms of Use</li>
                     <li>Privacy</li>
                     <li>Security</li>
                  </ul>
               </div>

               <div class="footer-col-4">
                  <h3>Social</h3>
                  <ul>
                     <li>Facebook</li>
                     <li>Twitter</li>
                     <li>Instagram</li>
                     <li>Youtube</li>
                  </ul>
               </div>
             
            </div>
            <hr>
            <p class="copyright"><small>Copyright 2021 MegaCart - All rights reserverd</small> </p>
         </div>
      </div>

      <script>

         var menuItems=document.getElementById("menuItems")

         menuItems.style.maxHeight = "0px"

         function menuToggle(){

            if (menuItems.style.maxHeight=="0px"){
               menuItems.style.maxHeight="300px"
            }else{
               menuItems.style.maxHeight="0px"
            }

         }

      </script>

       
   </body>

</html>